<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.belajarandroidkotlin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BelajarAndroidKotlin">
        <activity
            android:name=".viewandviewgroup.MyViewAndViewsActivity"
            android:exported="false" />
        <activity
            android:name=".intentmovewithdata.MoveWithDataActivity"
            android:exported="false" />
        <activity
            android:name=".barvolume.BarVolumeActivity"
            android:exported="false" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>